.Header{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Begin{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro{
    display:flex;
    justify-content:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
}
.Four_Years{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info{
    display:flex;
    justify-content:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
}
.Carousel{
    display:flex;
    justify-content:center;
}
.Other{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Accordion{
    width:800px;
    margin:auto;
}
.Video{
    display:flex;
    justify-content:center;
}
.Assoc_button{
    display:flex;
    justify-content:center;
}
.Cert_button{
    display:flex;
    justify-content:center;
}
.Master_button{
    display:flex;
    justify-content:center;
}
.Doc_button{
    display:flex;
    justify-content:center;
}
.Factors{
    display:flex;
    justify-content:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
}
.Videos{
    display:flex;
    justify-content:center;
}
ul{
    display:inline-block;
    text-align:left;    
}
.check{
    width:800px;
    margin:auto;
}
.Navigate{
    display:flex;
    justify-content:center;
}
.List{
    display:flex;
    justify-content:center;
}
ul{
    text-align:left;
}