.Header{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Begin{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro{
    display:flex;
    justify-content:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
}
.Carousel{
    display:flex;
    justify-content:center;
}
.Other{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.check{
    width:800px;
    margin:auto;
}
.Navigate{
    display:flex;
    justify-content:center;
}
.List{
    display:flex;
    justify-content:center;
}
ul{
    text-align:left;
}
body{
    padding-top:50px;
}