.Header{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .dropdown{
     display:flex; justify-content:center;
  }
  .card2{
     display:flex;justify-content:center;
  }
  .Intro{
    display:flex;justify-content:center;font-size:17px;
  }
  .offset{
    display:flex;
    justify-content:center;
  }
  .butt{
    display:flex;
    justify-content:center;
  }
  .tests{
    display:flex;justify-content:center;font-size:17px;
  }
  .Vid{
    display:flex;justify-content:center;
  }
  .skeet{
   display:flex;justify-content:center;font-size:17px;
 }
 .sike{
    display:flex;justify-content:center;
  }
  .but1{
    display:flex;justify-content:center;
  }
  .but2{
    display:flex;justify-content:center;
  }
  .but3{
    display:flex;justify-content:center;
  }
  .mover{
    display:flex;
    justify-content:center;
  }
  .check{
    width:800px;
    margin:auto;
}
body{
  padding-top:50px;
}